/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/* VARIABLES */
@import url(./variables.css);

/* RESETS */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: #222;
}

img {
  max-width: 100%;
}

/* CUSTOM STYLES */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5%;
}

.logo-link {
  text-decoration: none;
}

#logo {
  color: var(--primary-color);
}
/* header nav a:not(:last-child) {
  margin-right: 25px;
} */

header nav a {
  margin-left: 5px;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 5px;
  transition: background-color .5s;
  position: relative;
  color: var(--primary-color);
}

header nav a:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
  opacity: 0;
  transition: opacity .5s;
}

header nav a:hover {
  background-color: #ddd;
}

header nav a:hover:after, header nav a.active:after {
  opacity: 1;
}

header nav a.active {
  background-color: #ddd;
}

figure {
  display: flex;
  margin-bottom: 35px;
}

figure img {
  width: 45%;
}

figure figcaption {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

figure figcaption h3 {
  font-weight: 700;
  margin-bottom: 5px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* justify-content: center;
  align-items: center; */
  flex: 1;
}

main article{
  padding:15px;
  color: #444;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main article.main-article{
  grid-column: 1 / 4;
  padding: 80px 25px;
}

main article .article-content {
  padding:10px;
  background-color: rgba(250, 250, 250, .6);
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 5%;
}

.chat {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: rgba(0, 0, 0, .7);
  padding: 7px;
  z-index: 100;
}

/* RESPONSIVE STYLES */
@media (max-width: 600px) {
  main {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer p {
    margin: 4px 0;
  }
}

@media (min-width: 900px) {
  figure {
    padding: 0 15%;
  }

  figcaption {
    font-size: 2.5rem;
  }

  figcaption p {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  header {
    padding: 8px 20%;
  }

  footer {
   padding: 30px 20%; 
  }
}